@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Libre Caslon Condensed";
  src:
    url("/fonts/LibreCaslonCondensed[wght].woff2")
      format("woff2 supports variations"),
    url("/fonts/LibreCaslonCondensed[wght].woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: "Libre Caslon Text";
  src:
    url("/fonts/LibreCaslonText[wght].ttf") format("ttf supports variations"),
    url("/fonts/LibreCaslonText[wght].ttf") format("ttf-variations");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: "bluu";
  src:
    url("/fonts/bluu/bluunext-bold-webfont.woff2") format("woff2"),
    url("/fonts/bluu/bluunext-bold-webfont.woff") format("woff"),
    url("/fonts/bluu/bluunext-bold.ttf") format("truetype"),
    url("/fonts/bluu/bluunext-bold-webfont.svg#bluu_nextbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "bluu";
  src:
    url("/fonts/bluu/bluunext-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/bluu/bluunext-bolditalic-webfont.woff") format("woff"),
    url("/fonts/bluu/bluunext-bolditalic.ttf") format("truetype"),
    url("/fonts/bluu/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "bluu_nexttitling";
  src:
    url("/fonts/bluu/BluuNext-Titling.ttf") format("truetype"),
    url("/fonts/bluu/bluunext-titling.woff2") format("woff2"),
    url("/fonts/bluu/bluunext-titling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins/Poppins-Italic.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Italic.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Bold.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-BoldItalic.woff") format("woff"),
    url("/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

/* set root to full height and width */

html,
body,
#__next {
  height: 100%;
}

.bg-big {
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: red;
  object-fit: cover;
  scale: 1.4;
  animation: rotate 45s infinite linear;
  filter: blur(120px);
}

.bg-small {
  filter: blur(70px);
}

/* dark mode */
@media (prefers-color-scheme: light) {
  .bg-big {
    filter: hue-rotate(210deg) saturate(0.5) blur(120px);
  }
  .bg-small {
    filter: hue-rotate(210deg) saturate(0.5) blur(70px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.katex-html {
  display: none;
  visibility: hidden;
}

.katex-mathml {
  display: inline;
  max-width: 100%;
  /* width: 100%; */
  overflow: scroll;
}

.katex-mathml > math {
  max-width: 100%;
  /* width: 100%; */
}

.prose * {
  max-width: 100%;
  text-wrap: wrap;
}

.prose a {
  text-wrap: wrap;
}

.prose code {
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}
