@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libre Caslon Condensed";
  src:
    url("/fonts/LibreCaslonCondensed[wght].woff2")
      format("woff2 supports variations"),
    url("/fonts/LibreCaslonCondensed[wght].woff2") format("woff2-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Libre Caslon Text";
  src:
    url("/fonts/LibreCaslonText[wght].ttf") format("ttf supports variations"),
    url("/fonts/LibreCaslonText[wght].ttf") format("ttf-variations");
  font-weight: 100 1000;
}

/* set root to full height and width */

html,
body,
#__next {
  height: 100%;
}

.bg-big {
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: red;
  object-fit: cover;
  scale: 1.4;
  animation: rotate 45s infinite linear;
  filter: blur(120px);
}

.bg-small {
  filter: blur(70px);
}

/* dark mode */
@media (prefers-color-scheme: light) {
  .bg-big {
    filter: hue-rotate(210deg) saturate(0.5) blur(120px);
  }
  .bg-small {
    filter: hue-rotate(210deg) saturate(0.5) blur(70px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.katex-html {
  display: none;
  visibility: hidden;
}

.katex-mathml {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow: scroll;
}

.prose * {
  max-width: 100%;
  text-wrap: wrap;
}

.prose a {
  text-wrap: wrap;
}

.prose code {
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
  font-size: 0.9em;
}
