---
import { Image, Picture } from "@astrojs/image/components";

import portal from "../images/portal.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Krish Krish" />
    <meta
      name="description"
      content="Software Developer. Computer Science Student. "
    />
    <meta name="keywords" content="krish krish, krish" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <title>Krish Krish</title>
  </head>

  <body class="bg-primary">
    <header class="flex items-center justify-between p-8 text-white">
      <div>
        <h1 class="text-6xl font-bold">Krish</h1>
        <p>Creating class with code.</p>
      </div>
      <div class="flex flex-wrap gap-2">
        <a class="w-8 h-8 bg-white" href="">1</a>
        <a class="w-8 h-8 bg-white" href="">2</a>
        <a class="w-8 h-8 bg-white" href="">1</a>
      </div>
    </header>

    <main class="p-8">
      <section
        class="pb-4 mt-32 text-white border-b border-white border-opacity-25"
      >
        <div class="text-6xl font-bold">
          <span class="pr-2 font-normal opacity-50 select-none">{">"}</span>curl
          projects.krish
          <span
            class="w-6 h-full text-6xl bg-white select-none animate-pulse-full opacity-30"
            >y</span
          >
        </div>
        <p class="py-4 text-xl">
          > upstream remote: 354 objects, done. <br /> > projects on remote:
          <a href="https://github.com/Krish120003" class="underline">github ↗</a
          >
          <br />
          <span class="p-1 font-mono text-sm border">git clone</span>
          or fork to try them out.
        </p>
      </section>
      <!-- Active Projects -->
      <section class="flex flex-col py-8 text-xl text-white lg:flex-row">
        <div>
          <!-- image -->
          <div
            class="overflow-hidden transition-all bg-black shadow-2xl rounded-2xl shadow-red-900 hover:shadow-lg hover:translate-y-2"
          >
            <Image
              src={portal}
              alt="A stylized photo of two overlapping pages from the DeltaHacks Portal"
              format="webp"
              aspectRatio={16 / 9}
            />
          </div>
          <h2 class="my-8 text-5xl font-bold">A Power Portal</h2>
          <p>
            One portal, all power. DeltaHacks's <a
              class="underline"
              href="https://portal.deltahacks.com">Portal↗</a
            >
            is a full-stack app to run a hackathon. Built with Next.js, Tailwind
            and tRPC, it has some of the best current dev experience with reliability.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
