---
import Logo from "../icons/Logo.astro";
import Header from "../components/Header.astro";
import { project_data } from "../projects.astro";
import Project from "../components/Project.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Krish Krish" />
    <meta
      name="description"
      content="Software Developer. Computer Science Student. "
    />
    <meta name="keywords" content="krish krish, krish" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <title>Krish Krish</title>
  </head>

  <body
    class="bg-[#1A1A1A] text-[#E9E9E9] w-full bg-texture bg-blend-soft-light"
    style={{
      imageRendering: "pixelated",
      backgroundSize: "32rem",
    }}
  >
    <!-- <div class="absolute h-[1000%] bg-red-500">eeeee</div> -->
    <Header />
    <div class="flex h-screen">
      <main
        class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 aspect-square"
      >
        <h1
          class="w-64 font-bold h-[2.25ex] text-2xl absolute -translate-y-[2rem] overflow-hidden"
        >
          <span
            class="absolute translate-y-[2ex] animate-appear-bottom animation-delay-600"
            >Krish Krish</span
          >
        </h1>
        <h1
          class="w-64 font-bold h-[2.25ex] text-2xl absolute -rotate-90 -translate-x-[9.25rem] translate-y-[7.25rem] overflow-hidden"
        >
          <span
            class="absolute translate-y-[2ex] animate-appear-bottom animation-delay-1000"
            >CS Student</span
          >
        </h1>
        <h1
          class="w-64 font-bold h-[2.25ex] text-2xl absolute -rotate-180 translate-y-[16.25rem] overflow-hidden"
        >
          <span
            class="absolute translate-y-[2.25ex] animate-appear-bottom animation-delay-1400 block"
          >
            <div class="rotate-180">Developer</div>
          </span>
        </h1>
        <Logo class="relative w-64 animate-fade-in" />
      </main>
    </div>
    <section
      class="absolute top-[80%] left-1/2 -translate-x-1/2 text-gray-400 opacity-0 animate-fade-in animation-delay-2000"
    >
      <a
        href="/Resume.pdf"
        class="px-4 py-2 font-semibold text-black no-underline bg-white rounded-lg visited:no-underline"
        >Resume</a
      >
    </section>

    <section class="w-5/6 max-w-screen-xl m-auto">
      <h1 class="mb-8 text-6xl font-bold">Projects</h1>

      <div class="flex flex-col gap-8">
        {project_data.map((props) => <Project {...props} />)}
      </div>
    </section>

    <footer
      class="relative bottom-0 w-full p-10 text-center text-[#757575] text-xs"
    >
      © Krish Krish 2022 - All Rights Reserved.
    </footer>
    <!-- <aside
      class="absolute top-0 w-screen h-screen pointer-events-none bg-texture opacity-10 bg-blend-screen"
      style={{
        imageRendering: "pixelated",
        backgroundSize: "32rem",
      }}
    >
    </aside> -->

    <style>
      main {
        box-shadow: 0 0 4em #ffffff88;
      }
    </style>
  </body>
</html>
