---
import Header from "../components/Header.astro";
import { Image, Picture } from "@astrojs/image/components";
import DHCover from "../images/projects/deltahacks/Cover.png";
import RiverCover from "../images/projects/river/Cover.png";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import NextIcon from "../icons/NextIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import PrismaIcon from "../icons/PrismaIcon.astro";
import Project from "../components/Project.astro";
import { project_data } from "../projects.astro";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Krish Krish" />
    <meta
      name="description"
      content="Software Developer. Computer Science Student. "
    />
    <meta name="keywords" content="krish krish, krish" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <title>Krish Krish</title>
  </head>
  <body class="bg-[#1A1A1A] text-[#E9E9E9] h-full pt-32">
    <Header />
    <main class="w-5/6 max-w-screen-xl m-auto">
      <h1 class="mb-8 text-6xl font-bold">Projects</h1>

      <div class="flex flex-col gap-8">
        {project_data.map((props) => <Project {...props} />)}
        <!-- <Project {...data3} /> -->
      </div>
      <section>Project 2</section>
    </main>
    <aside
      class="absolute top-0 w-full h-full pointer-events-none bg-texture opacity-10 bg-blend-screen"
      style={{
        imageRendering: "pixelated",
        backgroundSize: "32rem",
      }}
    >
    </aside>
  </body>
</html>
