---
import Header from "../components/Header.astro";
import { Image, Picture } from "@astrojs/image/components";
import DHCover from "../images/projects/deltahacks/Cover.png";
import RiverCover from "../images/projects/river/Cover.png";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import NextIcon from "../icons/NextIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import PrismaIcon from "../icons/PrismaIcon.astro";
import Project from "../components/Project.astro";

const data1 = {
  name: "DeltaHacks Portal",
  techIcons: [NextIcon, TypescriptIcon, ReactIcon, PrismaIcon],
  description: `DeltaHacks Portal is a web application built with Next.JS, React, and
      Typescript. It features a unified dashboard for attendees, volunteers,
      judges, and sponsors, as well as a QR code encoded meal ticket system,
      used to run an in-person event with over 600 participants. The application
      was developed collaboratively by a team of 12.`,
  github: "https://github.com/deltahacks/portal",
  demo: "https://portal.deltahacks.com/dashboard",
  image: DHCover,
};
const data2 = {
  name: "River",
  techIcons: [NextIcon, TypescriptIcon, ReactIcon, PrismaIcon],
  description: `RSVPs, now simpler than ever. River is a web application to manage events and collect RSVPs. `,
  github: "https://github.com/Krish120003/rsvp",
  demo: "https://rsvp-river.vercel.app/",
  image: RiverCover,
};
const data3 = {
  name: "Diz Nutz",
  techIcons: [NextIcon, TypescriptIcon, ReactIcon, PrismaIcon],
};
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Krish Krish" />
    <meta
      name="description"
      content="Software Developer. Computer Science Student. "
    />
    <meta name="keywords" content="krish krish, krish" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <title>Krish Krish</title>
  </head>
  <body class="bg-[#1A1A1A] text-[#E9E9E9] h-full pt-32">
    <Header />
    <main class="w-5/6 max-w-screen-xl m-auto">
      <h1 class="mb-8 text-6xl font-bold">Projects</h1>

      <div class="flex flex-col gap-8">
        <Project {...data1} />
        <Project {...data2} />
      </div>
      <section>Project 2</section>
    </main>
    <aside
      class="absolute top-0 w-full h-full pointer-events-none bg-texture opacity-10 bg-blend-screen"
      style={{
        imageRendering: "pixelated",
        backgroundSize: "32rem",
      }}
    >
    </aside>
  </body>
</html>
